<div fxLayoutAlign="center center" fxFlexFill class="main-register-div">
<mat-card fxFlex="33">
    <mat-icon>account</mat-icon>
        <mat-toolbar color="primary">
          <span>REGISTER YOURSELF</span>
        </mat-toolbar>
      
    <form fxLayoutAlign="stretch" fxLayout="column">
    <mat-form-field appearance="fill">
        <input matInput type="email" placeholder="Email" required>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <input matInput type="password" placeholder="Password" required>
    </mat-form-field>
    <button type="submit" mat-raised-button>SIGNUP</button>
    <!-- <mat-divider>OR</mat-divider>
    <p>if you have already account</p>
    <button mat-raised-button color="green">LOGIN</button> -->
</form>
</mat-card>
</div>